@import "../../../../core/themes/classy/css/components/messages.css";
@import "../../../../core/modules/system/css/components/hidden.module.css";
@import "message.css";

/********************************
  Site wide styles
********************************/
body{background: url('../img/backgroundEcover.png') center  no-repeat;}
body.page-group-manager{background: none;}
a{color: #077c94;}
input{ margin-bottom: 10px; padding: 5px 10px; border-radius: 1px; border: 1px solid #ccc;  }
input.form-email{ display: block;}
label{margin-top: 10px;}
h2{color: rgb(117,121,137); }
/*label.form-required::after{ content: ' *'; color: red;}*/

#site-top-header{padding: 20px 0; background: #1a1a1a; color: white;}
  #site-logo{display: inline-block;}
  #site-header-left-nav {display: inline-block;}
.page-course-activity #site-header{margin-bottom: 0px; }
#block-wind-theme-branding a{display: block; padding: 0px 20px 20px; }
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}
.alert-success {
  color: #657838;
  background-color: #f3fae1;
  border-color: #eef8d6;
}

/*#block-wind-theme-content,*/
#main{ margin-top: 100px; margin-bottom: 85px; box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.3); border-radius: 3px; background: #fff;}
#page-title{width: 100%; margin-bottom: 20px; padding: 20px 0px 15px; color: white; background: #000;}

/* Common Drupal submit button. */
#seven-login-wrapper #edit-submit,
#edit-submit{ color: white; background: #077c94; border: none; border-radius: 3px; }
#edit-submit:hover { background: #044b59;}
#edit-submit:focus { outline: #044b59;}

#content{padding-bottom: 30px;}
.wind-opigno-iframe iframe{width: 100%; height: 800px;}
#site-footer{ padding-top: 90px; background: #333; color: white; }
#site-footer a{color: white;}
#block-wind-theme-footer ul{ list-style: none; }
#block-wind-theme-footer a{ font-size: 16px; }

/********************************
  Page specific styles
********************************/
/*** Front page ***/
body.page-frontpage #page-title{padding-left: 25px; padding-right: 25px;}
body.page-frontpage #main{width: 500px;}
/*body.page-frontpage #block-wind-theme-content,*/
/*body.page-frontpage #main{background: transparent;}*/
body.page-frontpage #block-wind-theme-page-title h1{text-align: center;}
#seven-login-wrapper input{width: 100%; margin-bottom: 20px; border: 1px solid #ccc; border-radius: unset;}
#seven-login-wrapper .col-md-6{width: 100%; max-width: 100%; flex: 0 0 100%; }
#block-seven-login{margin-bottom: 80px; padding: 53px; }
#block-seven-login ul{list-style: none; display: flex; padding: 0;}
#block-seven-login ul li{width: 50%;}
#block-seven-login ul li:last-child{text-align: right;}

/* [site]/user/login, [site]/user/register, [site]/user/password  */
/*body.page-user input{ margin-bottom: 15px;}*/
body.page-user-login .description{ margin-bottom: 20px; color: #8e8e8e;}
body.page-user-login .password-strength { margin-bottom: 20px;}
/* Hide the redundant links below the title. */
body.page-user.page-user-login #block-wind-theme-local-tasks,
body.page-user.page-user-password #block-wind-theme-local-tasks,
body.page-user.page-user-register #block-wind-theme-local-tasks{ display: none;}

/*** [site]/manager ***/
/* Datatable */
.dataTables_info{color: #8e8e8e;} /*Applies to 'Showing # to # of # entries' */

/*** [site]/learner-dashboard ***/
.lp_steps_block_summary_score{display: none;} /* Hides the "Average score : 0%" */
.lp_steps_block_table td:nth-child(2) {text-align: left;} /* Overrides Opigno */

/*** [site]/report ***/
body.page-report #content{min-height: 500px;} /* Solves page bounching when performing searches on datatable. */
body.page-report #content input{margin-left: 15px;}
body.page-report #learner-status-tbl_filter{float: right;}

/*** [site]/course/{#}/activity/{#} ***/
body.page-course #site-header {margin-bottom: 0;}
#main.scorm-container{width: 100%; max-width: 100%; border: 0; margin: 0; padding: 0; box-shadow: none; border-radius: unset;}
#main.scorm-container #page-title{display: none;}
/* Hides the Author date field since we're unable to do it from the admin/config/.. field manage . EX: "Wed, 09/05/2018 - 16:01" */
body.page-course .content-wrapper .created,
body.page-course-activity .content-wrapper .created{display: none;}

/*** [site]/module/{#}/answer/{#} ***/
body.page-module-answer iframe{ width: 100%; min-height: 700px;}

/* 'update-activity' is the right panel that opens up. */
body.page-opigno_module-inner-modules update-activity{margin-top: 100px;}
body.page-opigno_module-inner-modules update-activity .mat-24.mat-icon{color: red;} /* Close X icon */
body.page-opigno_module-inner-modules update-activity .ic-drag-handle-black-24px{opacity: .5;}
#header-top{padding: 20px; background: #1a1a1a;}

#seven-login-wrapper input{width: 100%; margin-bottom: 20px;}

/*** [site]/scorm-course/take/{#} ***/
body.route-wind_scorm-take_course #site-header {margin-bottom: 0;}
body.route-wind_scorm-take_course #main{width: 100%; max-width: 100%; border: 0; margin: 0; padding: 0; box-shadow: none; border-radius: unset;}
body.route-wind_scorm-take_course .scorm-ui-player-iframe-wrapper iframe{width: 100%; min-height: 800px; height: 100%; border: 0;}
body.route-wind_scorm-take_course #page-title{display: none;}
body.route-wind_scorm-take_course #content{padding-bottom: 0;}
body.route-wind_scorm-take_course footer{display: none;}
