<header id="site-header">

  <div class="container-fluid">
    <div class="row">
      <div id="header-top-left" class="col-md-8">
        <img src="/themes/custom/wind_theme/img/windwalker_logo.jpg" alt="Windwalker Group logo" />
      </div>

      <div id="header-top-right" class="col-md-4">

      </div>
    </div>
  </div>
</header>
