<div>
  <button type="button" class="close-dashboard" (click)="appService.managePanel=false" i18n>close</button>
  <h3 i18n>Manage your dashboard</h3>
</div>

<section class="layout">
  <p i18n>Layout</p>
  <button class="radio" id="layout-1" name="layout" (click)="appService.columns=1" [class.active]="appService.columns==1" i18n>1 column</button>
  <button class="radio" id="layout-2" name="layout" (click)="appService.columns=2" [class.active]="appService.columns==2" i18n>2 columns</button>
  <button class="radio" id="layout-3" name="layout" (click)="appService.columns=3" [class.active]="appService.columns==3" i18n>1/3-2/3 columns</button>
  <button class="radio" id="layout-4" name="layout" (click)="appService.columns=4" [class.active]="appService.columns==4" i18n>3 columns</button>
</section>

<section class="add-blocks">
  <p i18n>Add blocks by dragging them below into the canvas</p>
  <div class="blocks panel" [dragula]='"nested-bag"' [dragulaModel]="appService.positions[0]">
    <div *ngFor="let block of appService.positions[0]" class="dashboard-block">
      <span class="handle ic-drag-handle-black-24px" [class.hidden]="!appService.managePanel"></span>
      <div class="title" [innerHtml]="block.admin_label"></div>
    </div>
  </div>
</section>

<section class="reinit">
  <p i18n>Restore your dashboard to default:</p>
  <button type="button" name="button" class="btn-danger" (click)="appService.reinit()" i18n>restore to default</button>
</section>
