<mat-card class="entity drag-and-drop-item"
         (click)="clickEntity(entity)"
         (mouseenter)="mouseenterEntity(entity)"
         (mouseleave)="mouseleaveEntity(entity)"
         [class.selected]="entity === selectedEntity"
         [class.activated-link]="entity === selectedEntity1 || entity === selectedEntity2">
  <div class="image" [ngStyle]="{'background-image': 'url(' + entity.imageUrl + ')'}">
    <div class="my-5">
      <div class="bundle">
        <span *ngIf="entity.contentType=='ContentTypeCourse'" i18n>Course</span>
        <span *ngIf="entity.contentType!='ContentTypeCourse'" i18n>Opigno module</span>
      </div>
      <div class="nb-modules" *ngIf="entity.modules_count||entity.modules_count===0">
        {{entity.modules_count}} module<ng-template *ngIf="entity.modules_count>1">s</ng-template>
      </div>
    </div>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="action-button">
    <mat-icon>more_vert</mat-icon>
  </button>
    <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="openAddPanel_(entity)" class="add-link">
      <span i18n>add</span>
    </button>
    <button mat-menu-item (click)="openUpdatePanel_(entity)" class="update-link">
      <span i18n>update</span>
    </button>
    <button mat-menu-item (click)="openDeletePanel_(entity)" class="delete-link">
      <span i18n>delete</span>
    </button>
  </mat-menu>
  <mat-card-header [innerHtml]="entity.title"></mat-card-header>
  <mat-card-content class="mt-2">
    <mat-checkbox [(ngModel)]="isMandatory" (change)="changeMandatory()" i18n>Mandatory</mat-checkbox>
    <mat-form-field class="w-100 mt-2" [hintLabel]="this.entity.successScoreMinMessage">
      <input matInput placeholder="Minimum score to validate step" [(ngModel)]="successScoreMin" (keyup)="changeScoreMini($event)" i18n-placeholder>
    </mat-form-field>
  </mat-card-content>
</mat-card>
