// .alert.alert-danger {
//   display: none;
// }

pre {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  min-height: 1px;
  height: auto;
}

.multiselect-wrapper {
  @extend .clearfix;
}

.color-white {
  color: #fff;

  &.btn-success {
    &:hover {
      color: #fff;
    }
  }
}

.btn-danger {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.p-static {
  position: static!important;
}

.flex-1 {
  flex: 1;
}

.bg-faded {
  background-color: $light-gray;

  &.border-top-blue {
    border-top: 5px solid $blue;
  }
}

.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  body.toolbar-fixed & {
    min-height: calc(100vh - 39px);
  }

  body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open & {
    min-height: calc(100vh - 79px);
  }
}

.filter-guidelines {
  display: none;
}
